<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.univpm.s1055802.faceplusplustester">

    <application
        android:name=".FppTester"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/fpp_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FirstRun" />

        <activity android:name=".Detect.AcquirePhoto" />
        <activity android:name=".Detect.AcquireVideo" />
        <activity android:name=".Gallery.GalleryMain" />

        <activity
            android:name=".Detect.DetectImage"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity android:name=".Person.PersonCreate" />
        <activity android:name=".Person.PersonMain" />
        <activity android:name=".Person.PersonInfo" />
        <activity android:name=".Person.PersonEdit" />

        <activity android:name=".Group.GroupMain" />
        <activity android:name=".Group.GroupCreate" />
        <activity android:name=".Group.GroupInfo" />
        <activity android:name=".Group.GroupEdit" />

        <activity android:name=".Faceset.FacesetMain" />
        <activity android:name=".Faceset.FacesetInfo" />
        <activity android:name=".Faceset.FacesetCreate" />
        <activity android:name=".Faceset.FacesetEdit" />

        <activity android:name=".Training.TrainingMain"/>
        <activity android:name=".Training.TrainingInfo"/>

        <activity android:name=".Recognition.RecognitionIdentifyResults"/>
        <activity android:name=".Recognition.RecognitionVerifyResults"/>
        <activity android:name=".Recognition.RecognitionSearchResults"/>

        <activity android:name=".Face.FaceInfo" />


    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />







</manifest>