<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.univpm.s1055802.faceplusplustester">

    <application
        android:name=".FppTester"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/fpp_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FirstRun"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".Detect.AcquirePhoto"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".Detect.AcquireVideo"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".Detect.DetectImage"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity android:name=".Gallery.GalleryMain"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".Person.PersonCreate"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".Person.PersonMain"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".Person.PersonInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".Person.PersonEdit"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".Group.GroupMain"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".Group.GroupCreate"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".Group.GroupInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".Group.GroupEdit"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".Faceset.FacesetMain"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".Faceset.FacesetInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".Faceset.FacesetCreate"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".Faceset.FacesetEdit"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".Training.TrainingMain"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".Training.TrainingInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".Recognition.RecognitionIdentifyResults"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".Recognition.RecognitionVerifyResults"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".Recognition.RecognitionSearchResults"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".Face.FaceInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"/>


    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

</manifest>